apiVersion: apps/v1
kind: Deployment
metadata:
    name: mysql-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: mysql
    template:
        metadata:
            labels:
                app: mysql
        spec:
            containers:
                - name: mysql
                  image: mysql:latest
                  ports:
                      - containerPort: 3306
                  env:
                      - name: MYSQL_ROOT_PASSWORD
                        value: "root"
                      - name: MYSQL_USER
                        value: "your_user"
                      - name: MYSQL_PASSWORD
                        value: "your_password"

---

apiVersion: v1
kind: Service
metadata:
    name: mysql
spec:
    selector:
        app: mysql
    type: NodePort
    ports:
        - protocol: TCP
          port: 3306
          targetPort: 3306

---

apiVersion: v1
kind: ConfigMap
metadata:
    name: phpmyadmin-config
data:
    conf.inc.php: |
            <?php
            $cfg['Servers'][1]['host'] = 'mysql';
            $cfg['Servers'][1]['port'] = '3306';
            $cfg['Servers'][1]['user'] = 'root';
            $cfg['Servers'][1]['password'] = 'root';
            $cfg['Servers'][1]['auth_type'] = 'cookie';
            $cfg['Servers'][1]['AllowNoPassword'] = true;   			
            ?>

---

apiVersion: apps/v1
kind: Deployment
metadata:
    name: phpmyadmin-deployment
spec:
    replicas: 1
    selector:
        matchLabels:
            app: phpmyadmin
    template:
        metadata:
            labels:
                app: phpmyadmin
        spec:
            containers:
                - name: phpmyadmin
                  image: phpmyadmin/phpmyadmin:latest
                  ports:
                      - containerPort: 80
                  env:
                      - name: PMA_HOST
                        value: mysql
                      - name: PMA_PORT
                        value: "3306"
                      - name: MYSQL_ROOT_PASSWORD
                        value: "root"
                  volumeMounts:
                      - name: phpmyadmin-config-volume
                        mountPath: /etc/phpmyadmin/config.inc.php
                        subPath: conf.inc.php

            volumes:
                - name: phpmyadmin-config-volume
                  configMap:
                      name: phpmyadmin-config

---

apiVersion: v1
kind: Service
metadata:
    name: phpmyadmin-service
spec:
    selector:
        app: phpmyadmin
    type: NodePort
    ports:
        - protocol: TCP
          port: 8181
          targetPort: 80
