apiVersion: v1
kind: ConfigMap
metadata:
    name: phpmyadmin-config
data:
    conf.inc.php: |
        <?php
        $cfg['Servers'][1]['host'] = 'mysql';
        $cfg['Servers'][1]['port'] = '3306';
        $cfg['Servers'][1]['user'] = 'root';
        $cfg['Servers'][1]['password'] = 'root';
        $cfg['Servers'][1]['auth_type'] = 'cookie';
        $cfg['Servers'][1]['AllowNoPassword'] = true;
        ?>
