apiVersion: apps/v1
kind: Deployment
metadata:
    name: mysql-deploy
spec:
    selector:
        matchLabels:
            app: ci-app
    template:
        metadata:
            labels:
                app: ci-app
        spec:
            containers:
                - image: mysql:latest
                  name: mysql-pod
                  env:
                      - name: MYSQL_ROOT_PASSWORD
                        value: "root"
                      - name: MYSQL_USER
                        value: "your_user"
                      - name: MYSQL_PASSWORD
                        value: "your_password"
                  ports:
                      - containerPort: 3306
                  volumeMounts:
                      - name: mysql-persistent-storage
                        mountPath: /var/lib/mysql
            volumes:
                - name: mysql-persistent-storage
                  persistentVolumeClaim:
                      claimName: mysql-pv-claim
---
apiVersion: v1
kind: Service
metadata:
    name: mysql-service
spec:
    type: NodePort
    ports:
        - port: 3306
          protocol: TCP
          targetPort: 3306
    selector:
        app: ci-app
